body {
    font-family: 'Montserrat', Times, sans-serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content-container {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content {
    flex: 1 1 auto;
}

.content-container_main {

    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    margin: 2%;

}

.About {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.Picture {
    width: 50%;
}

.Project-name {
    font-style: bold;
    padding-bottom: 1%;
    margin-left: 30%;
    font-size: 115%;
}

.Button_try {
    padding-top: 5%;
    margin-left: 30%;

}

.Button_try button {
    background-color: #66a4fc;
    border-radius: 10px;
    font-size: 115%;
}

.Features {
    margin-left: 30%;
    font-size: 115%;
}

@media screen and (max-width: 419px) {
    .Project-name {
        margin-left: 0px;
        font-size: 105%;
    }

    .Button_try {
        margin-left: 0px;
        font-size: 105%;

    }

    .Features {
        margin-left: 0px;
        font-size: 105%;
    }
}